<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <contentSearch>
      <indexConfigurations>
        <defaultSolrIndexConfiguration>
          <documentOptions>
            <!-- MISSING -->
            <fields hint="raw:AddComputedIndexField">
              <field fieldName="tagsfacet" returnType="stringCollection" storageType="yes" indexType="untokenized">SitecoreMediaTagging.Computed.TagsFacet, XmCloudSXAStarter</field>
            </fields>
          </documentOptions>
          <!-- MISSING -->
        </defaultSolrIndexConfiguration>
      </indexConfigurations>
    </contentSearch>
  </sitecore>
</configuration>